/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* .loader {
  display: block;
  margin: 32px auto;
  font-size: 20px;
  border: none;
  color: #4e75ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative;
}

.loader.is-hidden {
  display: none;
}

.loader:before {
  content: '';
  animation: 5s print linear alternate infinite;
}

.loader:after {
  content: '';
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 1.3em;
  background: currentColor;
  opacity: 0.8;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes print {
  0% {
    content: 'L';
  }

  10% {
    content: 'Lo';
  }

  20% {
    content: 'Loa';
  }

  30% {
    content: 'Load';
  }

  40% {
    content: 'Loadi';
  }

  50% {
    content: 'Loadin';
  }

  60% {
    content: 'Loading';
  }

  70% {
    content: 'Loading.';
  }

  80% {
    content: 'Loading..';
  }

  90%,
  100% {
    content: 'Loading...';
  }
}



.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}

li.gallery-item {
  border: 1px solid #808080;
  min-width: 360px;
}

.gallery img {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.card-list {
  display: flex;
  height: 48px;
  padding: 10px 0;
  justify-content: space-around;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

li.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
}

p.text {
  font-size: 12px;
  line-height: 2;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.form input {
  width: 270px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-top: 36px;
  margin-bottom: 32px;
}

.form button {
  width: 91px;
  height: 40px;
  padding: 8px, 16px;
  background: #4e75ff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-left: 8px;
}

.form button:hover {
  background: #6c8cff;
}

.form input:hover {
  border-color: #2e2f42;
}

.form input:focus {
  border: 2px solid #4e75ff;
}

.load-more {
  border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
      font-size: 16px; 
      color: #fff;
      border: none;
      margin: 32px auto 0;
      display: block;
      &.is-hidden {
          display: none;
        }
} */

/* STORIES SECTION */
.stories-heading {
  margin: 0 auto 40px;
}

@media only screen and (min-width: 1440px) {
  .stories-heading {
    width: 768px;
  }
}

.stories-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  .stories-title {
    font-size: 48px;
  }
}

.stories-text {
  text-align: center;
  margin-top: 24px;
}

@media only screen and (min-width: 1440px) {
  .stories-text {
    font-size: 18px;
  }
}

.swiper-story {
  position: relative;
}

.swiper-wrapper-story {
  margin-bottom: 40px;
  display: flex;
}

.swiper-slide-story {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

.story-card {
  display: flex;
  flex-direction: column;
  height: 100%;
 
}






.story-review {
  font-size: 18px;
  margin-bottom: 32px;
  flex-grow: 1;
  line-height: 1.5;
}

@media only screen and (min-width: 1440px) {
  .story-review {
    font-size: 20px;
  }
}

.story-author {
  font-weight: 600;
  font-size: 14px;
  margin-top: auto;
}

@media only screen and (min-width: 1440px) {
  .story-author {
    font-size: 16px;
  }
}

.swiper-navigation-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Стилі для пагінації - зліва */
.swiper-pagination-story {
  position: static !important;
  width: auto !important;
  margin: 0;
}

.swiper-pagination-story .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: #E5E7EB;
  opacity: 1;
  margin: 0 6px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  border: none;
}

.swiper-pagination-story .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-story .swiper-pagination-bullet:hover {
  background: #9CA3AF;
}

.swiper-pagination-story .swiper-pagination-bullet-active {
  background: #332c22 !important;
  /* transform: scale(1.1); */
}

.navigation-buttons-story {
  display: flex;
  gap: 16px;
}

.story-button-prev,
.story-button-next {
  border: 1px solid 1px solid var(--btnfirst-hover-bg);;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background: var(--btnsecond-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.story-button-prev:hover:not(:disabled),
.story-button-next:hover:not(:disabled),
.story-button-prev:focus:not(:disabled),
.story-button-next:focus:not(:disabled) {
  border-color: rgba(2, 6, 10, 0.6);
  background-color: #f8f9fa;
}

.story-button-prev:active:not(:disabled),
.story-button-next:active:not(:disabled) {
  border-color: rgba(2, 6, 10, 0.6);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.story-button-prev:disabled,
.story-button-next:disabled,
.story-button-prev.swiper-button-disabled,
.story-button-next.swiper-button-disabled {
  border-color: var(--background-color);
  cursor: not-allowed;
  opacity: 0.5;
}

.story-button-icon {
  fill: currentColor;
  stroke: currentColor;
  width: 24px;
  height: 24px;
}

